.figure {
  font-size: 24px;
}

.title-box {
  padding: 2rem;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-table{
  border-radius: 8px;
  overflow:hidden !important;
}

::ng-deep .mat-mdc-paginator-container {
  justify-content: space-between !important;
}
